<section class="action booking">
    <div class="action-inner">
        <div class="action-top">
            <h2 class="title">Забронировать кабинет</h2>
            <button aria-label="close booking" class="close"><img src="img/icons/close.svg" alt="icon close" loading="lazy" width="30" height="30"></button>
        </div>
        <form class="action-form">
            <div class="booking-date">
                <div class="date-list booking-list">
                    <div class="row">
                        <span>18.03</span>
                        <div class="office-list booking-list">
                            <div class="row">
                                <span>Кабинет 1</span>
                                <div class="time-list booking-list">
                                    <div class="row"><input checked type="checkbox" name="time" value="7:00-8:00"><span>7:00-8:00</span><button class="remove"><img src="img/icons/close.svg" alt="icon close" loading="lazy" width="30" height="30"></button></div>
                                    <div class="row"><input checked type="checkbox" name="time" value="8:00-9:00"><span>8:00-9:00</span><button class="remove"><img src="img/icons/close.svg" alt="icon close" loading="lazy" width="30" height="30"></button></div>
                                </div>
                            </div>
                            <div class="row">
                                <span>Кабинет 2</span>
                                <div class="time-list booking-list">
                                    <div class="row"><input checked type="checkbox" name="time" value="7:00-8:00"><span>7:00-8:00</span><button class="remove"><img src="img/icons/close.svg" alt="icon close" loading="lazy" width="30" height="30"></button></div>
                                    <div class="row"><input checked type="checkbox" name="time" value="8:00-9:00"><span>8:00-9:00</span><button class="remove"><img src="img/icons/close.svg" alt="icon close" loading="lazy" width="30" height="30"></button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <span>19.03</span>
                        <div class="office-list booking-list">
                            <div class="row">
                                <span>Кабинет 1</span>
                                <div class="time-list booking-list">
                                    <div class="row"><input checked type="checkbox" name="time" value="7:00-8:00"><span>7:00-8:00</span><button class="remove"><img src="img/icons/close.svg" alt="icon close" loading="lazy" width="30" height="30"></button></div>
                                    <div class="row"><input checked type="checkbox" name="time" value="8:00-9:00"><span>8:00-9:00</span><button class="remove"><img src="img/icons/close.svg" alt="icon close" loading="lazy" width="30" height="30"></button></div>
                                </div>
                            </div>
                            <div class="row">
                                <span>Кабинет 2</span>
                                <div class="time-list booking-list">
                                    <div class="row"><input checked type="checkbox" name="time" value="7:00-8:00"><span>7:00-8:00</span><button class="remove"><img src="img/icons/close.svg" alt="icon close" loading="lazy" width="30" height="30"></button></div>
                                    <div class="row"><input checked type="checkbox" name="time" value="8:00-9:00"><span>8:00-9:00</span><button class="remove"><img src="img/icons/close.svg" alt="icon close" loading="lazy" width="30" height="30"></button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="booking-summary">
                <span class="price-caption">Стоимость:</span>
                <h2 class="price">500 грн</h2>
                <div class="btns">
                    <button type="submit" class="btn btn-prim">Забронировать</button>
                    <button type="reset" class="btn cancel-book">Отмена</button>
                </div>
            </div>
        </form>
    </div>
</section>