<section class="action profile">
    <div class="action-inner">
        <div class="action-top">
            <button aria-label="close booking" class="close"><img src="img/icons/close.svg" alt="icon close" loading="lazy" width="30" height="30"></button>
        </div>
        <div class="action-content">
            <div class="avatar"><img src="img/icons/profile.svg" alt="icon profile" loading="lazy" width="100" height="100"></div>
            <div class="username">user@name</div>
            <ul class="links">
                <li><a href="#">Мои бронирования</a></li>
                <li><a href="#">Выйти</a></li>
            </ul>
        </div>
    </div>
</section>