<footer class="footer">
    <div class="footer-inner">
        <div class="top">
            <div class="container">
                <a href="#" class="caption">Кабинеты в Украине</a>
                <div class="row">
                    <div class="column">
                        <a href="#">Все помещения в Украине</a>
                        <a href="#">Лофты в Украине</a>
                        <a href="#">Спорт в Украине</a>
                        <a href="#">Коворкинги в Украине</a>
                        <a href="#">Бьюти в Украине</a>
                        <a href="#">Залы в Украине</a>
                        <a href="#">Аренда кабинета на час</a>
                        <a href="#">Аренда кабинета на час</a>
                        <a href="#">Кабинеты психолога в Украине</a>
                    </div>
                    <div class="column">
                        <a href="#">О нас</a>
                        <a href="#">Контакты</a>
                        <a href="#">Каталог</a>
                        <a href="#">Правила</a>
                        <a href="#">Арендодателям</a>
                    </div>
                    <div class="column mail">
                        <a href="#">zonak@gmail.com</a>
                        <span>вопросы и предложения</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="container">
                <div class="copyright">© 2024 Зона Комфорта. Почасовая аренда помещений для работы и праздников</div>
                <div class="row">
                    <a href="#">Пользовательское соглашение</a>
                    <a href="#">Политика обработки персональных данных</a>
                    <a href="#">Карта сайта</a>
                </div>
            </div>
        </div>
    </div>
</footer>