<header class="header">
    <nav class="topnav">
        <div class="container">
            <div class="topnav-inner">
                <div class="left">
                    <span><a href="https://www.360expert.kyiv.ua/temp/office_03_all/index.html" target="_blank" class="address">Киев, ул. Елены Телиги, 25, оф. 1, 2</a></span>
                    <button class="select-lang">
                        <span>Русский</span>
                        <ul class="list">
                            <li><a href="#">Українська</a></li>
                            <li><a href="#">English</a></li>
                        </ul>
                    </button>
                </div>
                <div class="right">
                    <span><a href="tel:+380630205225" class="phone">+38 (063) 020-52-25</a></span>
                    <span><a href="#" class="telegram"></a></span>
                    <span><a href="#" class="viber"></a></span>
                    <span><a href="#" class="instagram"></a></span>
                    <span><a href="#" class="fmessenger"></a></span>
                    <span><a href="#" class="orders">Мои заказы</a></span>
                    <span><a href="#" class="profile" data-profile>Личный кабинет</a></span>
                </div>
            </div>
        </div>
    </nav>
    <nav class="navbar">
        <div class="container">
            <div class="navbar-inner">
                <div class="left">
                    <a href="/index.html" class="logo"><img src="img/header/logo.webp" alt="logo" loading="lazy" width="239" height="86"></a>
                </div>
                <div class="right">
                    <ul class="menu">
                        <li class="menu-item"><a href="/office.html">Кабинеты</a></li>
                        <li class="menu-item"><a href="/content.html">Цены и оплата</a></li>
                        <li class="menu-item"><a href="/content.html">Расписание</a></li>
                        <li class="menu-item"><a href="/content.html">Правила</a></li>
                        <li class="menu-item"><a href="/content.html">О нас</a></li>
                        <li class="menu-item"><a href="/content.html">Контакты</a></li>
                    </ul>
                    <a aria-label="go to profile page" href="#" class="profile" data-profile></a>
                    <button aria-label="open mobile" class="burger"><img src="img/icons/burger.svg" alt="icon burger" loading="lazy" width="40" height="40"></button>
                </div>
            </div>
        </div>
    </nav>
</header>