<nav class="mobile">
    <div class="mobile-inner">
        <div class="top">
            <a href="/index.html" class="logo"><img src="img/header/logo.webp" alt="logo" loading="lazy" width="239" height="86"></a>
            <button aria-label="close mobile" class="close"><img src="img/icons/close.svg" alt="icon close" loading="lazy" width="30" height="30"></button>
        </div>
        <ul class="menu">
            <li class="menu-item"><a href="/office.html">Кабинеты</a></li>
            <li class="menu-item"><a href="/content.html">Цены и оплата</a></li>
            <li class="menu-item"><a href="/content.html">Расписание</a></li>
            <li class="menu-item"><a href="/content.html">Правила</a></li>
            <li class="menu-item"><a href="/content.html">О нас</a></li>
            <li class="menu-item"><a href="/content.html">Контакты</a></li>
        </ul>
        <a href="tel:+380630205225" class="phone">+38 (063) 020-52-25</a>
        <div class="social">
            <span><a href="#" class="telegram"></a></span>
            <span><a href="#" class="viber"></a></span>
            <span><a href="#" class="instagram"></a></span>
            <span><a href="#" class="fmessenger"></a></span>
        </div>
        <div class="lang">
            <span><a href="#">Українська</a></span>
            <span><a href="#">Русский</a></span>
            <span><a href="#">English</a></span>
        </div>
    </div>
</nav>