<section class="advantage">
    <div class="container">
        <div class="advantage-inner">
            <h2 class="title-main">Мы предлагаем кабинеты в аренду</h2>
            <ul class="list">
                <li class="item" data-fade="left-0">Для индивидуальной терапии и семейных консультаций</li>
                <li class="item" data-fade="left-0.05">Для проведения сеансов телесно-ориентированной психотерапии</li>
                <li class="item" data-fade="left-0.1">Для групповой работы: проведения семинаров, мастер-классов, воркшопов, тренингов</li>
                <li class="item" data-fade="left-0.15">Для психотерапевтических групп и обучающих троек</li>
            </ul>
        </div>
    </div>
</section>