<section class="apartment">
    <div class="container">
        <div class="apartment-inner">
            <div class="apartment-top">
                <div class="apartment-images" data-fade="left-0">
                    <div class="swiper swiper-top apartment-swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide"><img src="img/office/Кабинет 1.1_01.webp" alt="apartment" width="500" height="271"></div>
                            <div class="swiper-slide"><img src="img/office/Кабинет 1.1_02.webp" alt="apartment" loading="lazy" width="500" height="271"></div>
                            <div class="swiper-slide"><img src="img/office/Кабинет 1.1_03.webp" alt="apartment" loading="lazy" width="500" height="271"></div>
                        </div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-pagination"></div>
                    </div>
                    <button data-tour="/360-tour/index_ru.html" class="btn-tour">3D-тур</button>
                    <div class="swiper swiper-thumbs">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide"><img src="img/office/Кабинет 1.1_01.webp" alt="apartment" loading="lazy" width="500" height="271"></div>
                            <div class="swiper-slide"><img src="img/office/Кабинет 1.1_02.webp" alt="apartment" loading="lazy" width="500" height="271"></div>
                            <div class="swiper-slide"><img src="img/office/Кабинет 1.1_03.webp" alt="apartment" loading="lazy" width="500" height="271"></div>
                        </div>
                    </div>
                </div>
                <div class="apartment-content" data-fade>
                    <h1>Кабинет 1.1</h1>
                    <div class="columns">
                        <div class="column" data-fade>
                            <h2>Характеристики:</h2>
                            <ul class="features features-mobile apartment-features">
                                <li class="square">20.6 м²</li>
                                <li class="capacity">до 15 чел.</li>
                                <li class="time">ПН-ВС с 7.00 до 21.00</li>
                            </ul>
                            <h2 class="price">Цена: 200 грн. / 55 мин.</h2>
                        </div>
                        <div class="column" data-fade>
                            <h2>Режим работы и цены:</h2>
                            <div class="schedule">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Дни недели</th>
                                            <th>Время</th>
                                            <th>Посетители</th>
                                            <th>Цена</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Пн,Вт,Ср,Чт,Пт,Сб,Вс</td>
                                            <td>00:00 - 00:00</td>
                                            <td>До 6 человек</td>
                                            <td>200 грн. / 55 мин.</td>
                                        </tr>
                                        <tr>
                                            <td>Пн,Вт,Ср,Чт,Пт,Сб,Вс</td>
                                            <td>00:00 - 00:00</td>
                                            <td>До 6 человек</td>
                                            <td>200 грн. / 55 мин.</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <ul class="tags">
                                <li><a href="#">Индивидуальные консультации</a></li>
                                <li><a href="#">Семейные консультации</a></li>
                                <li><a href="#">Групповые занятия</a></li>
                                <li><a href="#">Тренинги и семинары</a></li>
                                <li><a href="#">Вебинары</a></li>
                                <li><a href="#">Воркшопы</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="apartment-bottom">
                <div class="columns">
                    <div class="column" data-fade>
                        <h2>Удобства:</h2>
                        <ul class="facilities apartment-facilities">
                            <li>Скоростной Wi-Fi</li>
                            <li>Кондиционер</li>
                            <li>Регуляруемый свет</li>
                            <li>Авукоизоляция стен «A» класса</li>
                            <li>Звукоизоляционные дверные пороги</li>
                            <li>Количество розеток: 18</li>
                        </ul>
                    </div>
                    <div class="column" data-fade>
                        <h2>В кабинете находятся:</h2>
                        <ul class="features apartment-features">
                            <li class="chair">3 кресла</li>
                            <li class="table-small">Журнальный столик</li>
                            <li class="mirror">Зеркало</li>
                            <li class="projector">Проектор (переходники для подключения через HDMI, VGA, Apple, iPhone, Type C у администратора)</li>
                            <li class="cooler">Кулер с водой</li>
                            <li class="table-small">Столик под ноутбук</li>
                            <li class="flipchart">Флипчарт с магнитно-маркерной поверхностью (без бумаги)</li>
                            <li class="markers">Набор цветных маркеров</li>
                        </ul>
                    </div>
                    <div class="column" data-fade>
                        <h2>Расходники:</h2>
                        <ul class="features apartment-features">
                            <li class="tea">Чай, кофе, сахар, конфеты</li>
                            <li class="napkins">Сухие и влажные салфетки</li>
                        </ul>
                    </div>
                    <div class="column" data-fade>
                        <h2>Дополнительные возможности:</h2>
                        <ul class="facilities apartment-facilities">
                            <li>Расстановка до 15 складных стульев</li>
                            <li>Коврики для йоги</li>
                            <li>Удлинители</li>
                            <li>Bluetooth-колонка</li>
                        </ul>
                    </div>
                    <div class="column" data-fade>
                        <h2>Описание:</h2>
                        <p>Кабинет предназначен для проведения индивидуальных, семейных консультаций и групповых занятий. Может использоваться для проведения тренинов, семинаров и воркшопов.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>