<section class="content">
    <div class="container">
        <div class="content-inner">
            <h1>HTML Ipsum Presents</h1>
            <p><strong>Pellentesque habitant morbi tristique</strong> senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. <em>Aenean ultricies mi vitae est.</em> Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, <code>commodo vitae</code>, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. <a href="#">Donec non enim</a> in turpis pulvinar facilisis. Ut felis.</p>
            <picture>
                <source srcset="img/office/Офис1_Туалет.webp 1600w,img/office/Офис1_Туалет-1440.webp 1440w,img/office/Офис1_Туалет-768.webp 768w">
                <source srcset="img/office/Офис1_Туалет.jpg">
                <img src="img/office/Офис1_Туалет.jpg" alt="Офис1_Туалет" width="1170" height="637">
            </picture>
            <h2>Header Level 2</h2>
            <ol>
                <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                <li>Aliquam tincidunt mauris eu risus.</li>
            </ol>
            <div class="content-table">
                <table>
                    <thead>
                        <tr>
                            <th>Company</th>
                            <th>Contact</th>
                            <th>Country</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Alfreds Futterkiste</td>
                            <td>Maria Anders</td>
                            <td>Germany</td>
                        </tr>
                        <tr>
                            <td>Centro comercial Moctezuma</td>
                            <td>Francisco Chang</td>
                            <td>Mexico</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <blockquote>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue. Ut a est eget ligula molestie gravida. Curabitur massa. Donec eleifend, libero at sagittis mollis, tellus est malesuada tellus, at luctus turpis elit sit amet quam. Vivamus pretium ornare est.</p>
            </blockquote>
            <h3>Header Level 3</h3>
            <ul>
                <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                <li>Aliquam tincidunt mauris eu risus.</li>
            </ul>
            <picture>
                <source srcset="img/office/Офис2_Кухня.webp 1600w,img/office/Офис2_Кухня-1440.webp 1440w,img/office/Офис2_Кухня-768.webp 768w">
                <source srcset="img/office/Офис2_Кухня.jpg">
                <img src="img/office/Офис2_Кухня.jpg" alt="Офис1_Туалет" width="1170" height="637">
            </picture>
            <h4>Header Level 4</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem non ipsum temporibus blanditiis voluptatum consectetur recusandae nesciunt laborum corporis quibusdam! Ad iure beatae, quas facere repellendus modi dignissimos non adipisci?</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius minus quo, suscipit tempora laboriosam vel! Voluptas modi corrupti expedita, in rerum error architecto nostrum harum eos itaque impedit placeat esse?</p>
        </div>
    </div>
</section>