<section class="difference">
    <div class="container">
        <div class="difference-inner">
            <h2 class="title-main">Зона Комфорта — это…</h2>
            <ul class="list apartment-facilities">
                <li class="item" data-fade="left-0">6 уютных кабинетов площадью от 9 до 21 м²</li>
                <li class="item" data-fade="left-0">Вместимость от 2 до 15 человек</li>
                <li class="item" data-fade="left-0">Расположение в 5 минутах пешком от м. Дорогожичи</li>
                <li class="item" data-fade="left-0">Возможность бесплатной парковки во дворе</li>
                <li class="item" data-fade="left-0">Превосходная звукоизоляция всех кабинетов</li>
                <li class="item" data-fade="left-0">Возможность регулировки яркости света в каждом кабинете</li>
                <li class="item" data-fade="left-0">Современный стильный ремонт</li>
                <li class="item" data-fade="left-0">Аренда кабинета психолога от 150 грн. за 55 мин.</li>
                <li class="item" data-fade="left-0">Возможность самостоятельного бронирования</li>
                <li class="item" data-fade="left-0">В каждом кабинете: гарячая и холодная вода, чай, растворимый кофе, сливки, конфеты, сахар, сухие и влажные салфетки, зеркало, настенные часы, базовый набор канцелярии</li>
                <li class="item" data-fade="left-0">Все для кофе-брейка, включая кофемашину, микроволновку, холодильник, заварной кофе, стеклянную и одноразовую посуду включено в стоимость аренды</li>
                <li class="item" data-fade="left-0">При необходимости на месте дополнительно можно взять раскладные стулья, йога-коврики, адаптеры для подключения проектора, зарядки для телефонов, удлинители</li>
            </ul>
        </div>
    </div>
</section>