<section class="faq">
    <div class="container">
        <div class="faq__inner">
            <h2 class="title-main">FAQ</h2>
            <div class="accs _closable" itemscope="" itemtype="https://schema.org/FAQPage">
                <div class="acc" itemprop="mainEntity" itemscope="" itemtype="https://schema.org/Question">
                    <div class="acc__inner">
                        <button class="acc__head">
                            <h3 itemprop="name">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, magni.</h3><i class="icon-arrow"></i>
                        </button>
                        <div class="acc__body" itemprop="acceptedAnswer" itemscope="" itemtype="https://schema.org/Answer">
                            <div itemprop="text">
                                <h3>Lorem, ipsum dolor.</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, temporibus.</p>
                                <ul>
                                    <li>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis unde rem quos fugit veniam. Repellat itaque, dolor eveniet qui maxime tempore illum possimus assumenda doloremque tempora harum porro provident quaerat?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium, totam.</li>
                                    <li>Lorem ipsum dolor sit amet.</li>
                                    <li>Lorem ipsum dolor sit amet.</li>
                                </ul>
                                <h4>Lorem ipsum dolor sit.</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, temporibus.</p>
                                <ol>
                                    <li>Lorem ipsum dolor sit amet.</li>
                                    <li>Lorem ipsum dolor sit amet.</li>
                                    <li>Lorem ipsum dolor sit amet.</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="acc" itemprop="mainEntity" itemscope="" itemtype="https://schema.org/Question">
                    <div class="acc__inner">
                        <button class="acc__head">
                            <h3 itemprop="name">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3><i class="icon-arrow"></i>
                        </button>
                        <div class="acc__body" itemprop="acceptedAnswer" itemscope="" itemtype="https://schema.org/Answer">
                            <div itemprop="text">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, temporibus.</p>
                                <ol>
                                    <li>Lorem ipsum dolor sit amet.</li>
                                    <li>Lorem ipsum dolor sit amet.</li>
                                    <li>Lorem ipsum dolor sit amet.</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="acc" itemprop="mainEntity" itemscope="" itemtype="https://schema.org/Question">
                    <div class="acc__inner">
                        <button class="acc__head">
                            <h3 itemprop="name">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt?</h3><i class="icon-arrow"></i>
                        </button>
                        <div class="acc__body" itemprop="acceptedAnswer" itemscope="" itemtype="https://schema.org/Answer">
                            <div itemprop="text">
                                <h3>Lorem, ipsum dolor.</h3>
                                <ol>
                                    <li>Lorem ipsum dolor sit amet.</li>
                                    <li>Lorem ipsum dolor sit amet.</li>
                                    <li>Lorem ipsum dolor sit amet.</li>
                                </ol>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, temporibus.</p>
                                <ul>
                                    <li>Lorem ipsum dolor sit.</li>
                                    <li>Lorem ipsum dolor sit.</li>
                                    <li>Lorem ipsum dolor sit.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>