<section class="hero">
    <div class="container">
        <div class="hero-inner">
            <div class="hero-content" data-fade="bottom-0.1">
                <h1>Аренда кабинета психолога в Киеве</h1>
                <span>— почасово и долгосрочно</span>
                <p>Наши кабинеты подойдут для проведения индивидуальных и групповых психологических консультаций, семинаров, вебинаров, тренингов, репетиторства, сеансов мануальной и телесно-ориентированной терапии.</p>
                <div class="btns">
                    <a class="btn btn-prim" href="#office">Смотреть кабинеты</a>
                    <button data-tour="/360-tour/index_ru.html" class="btn btn-tour">3D тур</button>
                </div>
            </div>
            <div class="hero-circle">
                <div class="image">
                    <picture>
                        <source srcset="img/hero/image.webp 1600w,img/hero/image-1200.webp 1200w,img/hero/image-768.webp 768w">
                        <source srcset="img/hero/image.jpg">
                        <img src="img/hero/image.jpg" alt="hero image" width="500" height="500">
                    </picture>
                </div>
                <div class="cards">
                    <div class="card" data-fade="left-0.15">
                        <div class="icon"><img src="img/hero/calendar.webp" alt="icon calendar" loading="lazy" width="75" height="75"></div>
                        <span>Бронируй время в кабинете на сайте</span>
                    </div>
                    <div class="card" data-fade="right-0.25">
                        <div class="icon"><img src="img/hero/payment.webp" alt="icon payment" loading="lazy" width="75" height="75"></div>
                        <span>Оплати бронь онлайн с гарантиями</span>
                    </div>
                    <div class="card" data-fade="left-0.35">
                        <div class="icon"><img src="img/hero/key.webp" alt="icon room key" loading="lazy" width="75" height="75"></div>
                        <span>Получи код от входной двери в кабинет</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>