<section class="offer">
    <div class="container">
        <div class="offer-inner">
            <ul class="list">
                <li class="item" data-fade="left-0">
                    <div class="offer-icon"><img src="img/offer/room.webp" alt="icon room" loading="lazy" width="100" height="100"></div>
                    <div class="offer-content">
                        <h3>6 уютных кабинетов</h3>
                        <p>Площадью от 9 до 21 м² с современным дизайном, продуманным до мелочей зонированием пространства и всеми необходимыми в работе вещами.</p>
                    </div>
                </li>
                <li class="item" data-fade="left-0.05">
                    <div class="offer-icon"><img src="img/offer/sound.webp" alt="icon sound isolation" loading="lazy" width="100" height="100"></div>
                    <div class="offer-content">
                        <h3>Звукоизоляция «А» класса</h3>
                        <p>Все стены имеют шумоизоляцию класса «A» с максимальным взвешенным коэффициентом звукопоглощения, а двери в каждый кабинет оснащены звукоизоляционным дверным порогом.</p>
                    </div>
                </li>
                <li class="item" data-fade="left-0.1">
                    <div class="offer-icon"><img src="img/offer/booking.webp" alt="icon booking" loading="lazy" width="100" height="100"></div>
                    <div class="offer-content">
                        <h3>Удобная система бронирования</h3>
                        <p>Выбирайте удобный формат бронирования кабинетов: самостоятельно онлайн, по телефону через администратора или мессенджер. В календаре показаны свободные интервалы времени.</p>
                    </div>
                </li>
                <li class="item" data-fade="left-0.15">
                    <div class="offer-icon"><img src="img/offer/key.webp" alt="icon key" loading="lazy" width="100" height="100"></div>
                    <div class="offer-content">
                        <h3>Бесключевой доступ</h3>
                        <p>Вход в кабинеты — по коду, который мы пришлём вам в смс / мессенджер после оплаты бронирования.</p>
                    </div>
                </li>
                <li class="item" data-fade="left-0.2">
                    <div class="offer-icon"><img src="img/offer/discount.webp" alt="icon discount" loading="lazy" width="100" height="100"></div>
                    <div class="offer-content">
                        <h3>Гибкое расписание и система скидок</h3>
                        <p>Доступна почасовая аренда кабинета психолога или посуточная / понедельная / помесячная аренда помещений на постоянной основе по более выгодным ценам.</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>