<section id="office" class="office">
    <div class="container">
        <div class="office-inner">
            <div class="office-top">
                @if (context.short) {
                <h2 class="title-main">Остальные кабинеты</h2>
                }
                @if (!context.short) {
                <h2 class="title-main">Кабинеты</h2>
                <button class="office-filter">
                    <span class="btn toggle"><span class="open">Фильтры</span><span class="close">Закрыть</span>
                    </span>
                    <form class="filter">
                        <label for="quantity" class="quantity custom-select">
                            <span>Количество:</span>
                            <select id="quantity" name="quantity">
                                <option value="3">до 3 человек</option>
                                <option value="5">до 5 человек</option>
                                <option value="12">до 12 человек</option>
                                <option value="15">до 15 человек</option>
                            </select>
                        </label>
                        <label for="date" class="date custom-date">
                            <span>Дата:</span>
                            <input type="text" id="date" name="date" data-locale="ru">
                        </label>
                        <label for="time" class="time custom-time">
                            <span>Время начала:</span>
                            <input type="text" id="time" name="time" data-locale="ru">
                        </label>
                        <label for="length" class="length custom-input">
                            <span>Длина:</span>
                            <input type="text" id="length" name="length">
                        </label>
                        <label for="forwhat" class="forwhat custom-select">
                            <span>Для чего:</span>
                            <select id="forwhat" name="forwhat">
                                <option value="individual-consultations">Индивидуальные консультации</option>
                                <option value="family-consultations">Семейные консультации</option>
                                <option value="group-trainings">Групповые занятия</option>
                                <option value="for-trainings-and-seminars">Для тренингов и семинаров</option>
                                <option value="for-psychologist">Для психолога</option>
                                <option value="for-manual-therapy">Для мануальной терапии</option>
                            </select>
                        </label>
                        <label for="square" class="square custom-select">
                            <span>Площадь:</span>
                            <select id="square" name="square">
                                <option value="10">до 10 м²</option>
                                <option value="15-18">15-18 м²</option>
                                <option value="20">больше 20 м²</option>
                            </select>
                        </label>
                        <span class="extra">
                            <span class="caption">Дополнительно:</span>
                            <label for="projector" class="custom-checkbox"><input type="checkbox" id="projector" name="projector"><span>Проектор</span></label>
                            <label for="marker-surface" class="custom-checkbox"><input type="checkbox" id="marker-surface" name="marker-surface"><span>Маркерная поверхность</span></label>
                            <label for="flipchart" class="custom-checkbox"><input type="checkbox" id="flipchart" name="flipchart"><span>Флипчарт</span></label>
                            <label for="massage-table" class="custom-checkbox"><input type="checkbox" id="massage-table" name="massage-table"><span>Массажный стол</span></label>
                            <label for="mirror" class="custom-checkbox"><input type="checkbox" id="mirror" name="mirror"><span>Ростовое зеркало</span></label>
                            <label for="sink" class="custom-checkbox"><input type="checkbox" id="sink" name="sink"><span>Мокрая точка (Раковина)</span></label>
                            <label for="yoga-mats" class="custom-checkbox"><input type="checkbox" id="yoga-mats" name="yoga-mats"><span>Йога коврики</span></label>
                        </span>
                    </form>
                </button>
                }
            </div>
            <div class="office-list">
                <ul class="list">
                    <li class="item" data-fade="bottom-0">
                        <div class="inner">
                            <div class="office-images apartment-images">
                                <div class="swiper apartment-swiper">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide"><img src="img/office/Кабинет 1.1_01-768.webp" alt="Кабинет 1.1_01" loading="lazy" width="500" height="271"></div>
                                        <div class="swiper-slide"><img src="img/office/Кабинет 1.1_02-768.webp" alt="Кабинет 1.1_02" loading="lazy" width="500" height="271"></div>
                                        <div class="swiper-slide"><img src="img/office/Кабинет 1.1_03-768.webp" alt="Кабинет 1.1_03" loading="lazy" width="500" height="271"></div>
                                    </div>
                                    <div class="swiper-button-prev"></div>
                                    <div class="swiper-button-next"></div>
                                    <div class="swiper-pagination"></div>
                                </div>
                                <button data-tour="/360-tour/index_ru.html" class="btn-tour">3D-тур</button>
                            </div>
                            <a href="/apartment.html" class="office-content">
                                <h3 class="title">Кабинет 1.1</h3>
                                <ul class="features apartment-features">
                                    <li class="square">10 м2</li>
                                    <li class="capacity">5 человек</li>
                                    <li class="chair">3</li>
                                    <li class="projector">Есть</li>
                                </ul>
                                <h3 class="price">от 500 ₴/час</h3>
                                <button class="btn btn-prim">Подробнее</button>
                            </a>
                        </div>
                    </li>
                    <li class="item" data-fade="bottom-0.1">
                        <div class="inner">
                            <div class="office-images apartment-images">
                                <div class="swiper apartment-swiper">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide"><img src="img/office/Кабинет 1.2_01-768.webp" alt="Кабинет 1.2_01" loading="lazy" width="500" height="271"></div>
                                        <div class="swiper-slide"><img src="img/office/Кабинет 1.2_02-768.webp" alt="Кабинет 1.2_02" loading="lazy" width="500" height="271"></div>
                                    </div>
                                    <div class="swiper-button-prev"></div>
                                    <div class="swiper-button-next"></div>
                                    <div class="swiper-pagination"></div>
                                </div>
                                <button data-tour="/360-tour/index_ru.html" class="btn-tour">3D-тур</button>
                            </div>
                            <a href="/apartment.html" class="office-content">
                                <h3 class="title">Кабинет 1.2</h3>
                                <ul class="features apartment-features">
                                    <li class="square">8 м2</li>
                                    <li class="capacity">4 человека</li>
                                    <li class="chair">3</li>
                                </ul>
                                <h3 class="price">от 500 ₴/час</h3>
                                <button class="btn btn-prim">Подробнее</button>
                            </a>
                        </div>
                    </li>
                    <li class="item" data-fade="bottom-0.15">
                        <div class="inner">
                            <div class="office-images apartment-images">
                                <div class="swiper apartment-swiper">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide"><img src="img/office/Кабинет 2.1_01-768.webp" alt="Кабинет 2.1_01" loading="lazy" width="500" height="271"></div>
                                        <div class="swiper-slide"><img src="img/office/Кабинет 2.1_02-768.webp" alt="Кабинет 2.1_02" loading="lazy" width="500" height="271"></div>
                                        <div class="swiper-slide"><img src="img/office/Кабинет 2.1_03-768.webp" alt="Кабинет 2.1_03" loading="lazy" width="500" height="271"></div>
                                    </div>
                                    <div class="swiper-button-prev"></div>
                                    <div class="swiper-button-next"></div>
                                    <div class="swiper-pagination"></div>
                                </div>
                                <button data-tour="/360-tour/index_ru.html" class="btn-tour">3D-тур</button>
                            </div>
                            <a href="/apartment.html" class="office-content">
                                <h3 class="title">Кабинет 2.1</h3>
                                <ul class="features apartment-features">
                                    <li class="square">8 м2</li>
                                    <li class="capacity">4 человека</li>
                                    <li class="chair">3</li>
                                    <li class="table">Есть</li>
                                </ul>
                                <h3 class="price">от 500 ₴/час</h3>
                                <button class="btn btn-prim">Подробнее</button>
                            </a>
                        </div>
                    </li>
                    @if (!context.short) {
                    <li class="item" data-fade="bottom-0.2">
                        <div class="inner">
                            <div class="office-images apartment-images">
                                <div class="swiper apartment-swiper">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide"><img src="img/office/Кабинет 2.2_01-768.webp" alt="Кабинет 2.2_01" loading="lazy" width="500" height="271"></div>
                                        <div class="swiper-slide"><img src="img/office/Кабинет 2.2_02-768.webp" alt="Кабинет 2.2_02" loading="lazy" width="500" height="271"></div>
                                    </div>
                                    <div class="swiper-button-prev"></div>
                                    <div class="swiper-button-next"></div>
                                    <div class="swiper-pagination"></div>
                                </div>
                                <button data-tour="/360-tour/index_ru.html" class="btn-tour">3D-тур</button>
                            </div>
                            <a href="/apartment.html" class="office-content">
                                <h3 class="title">Кабинет 2.2</h3>
                                <ul class="features apartment-features">
                                    <li class="square">10 м2</li>
                                    <li class="capacity">5 человек</li>
                                    <li class="chair">3</li>
                                    <li class="projector">Есть</li>
                                </ul>
                                <h3 class="price">от 500 ₴/час</h3>
                                <button class="btn btn-prim">Подробнее</button>
                            </a>
                        </div>
                    </li>
                    <li class="item" data-fade="bottom-0.25">
                        <div class="inner">
                            <div class="office-images apartment-images">
                                <div class="swiper apartment-swiper">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide"><img src="img/office/Кабинет 2.3_01-768.webp" alt="Кабинет 2.3_01" loading="lazy" width="500" height="271"></div>
                                        <div class="swiper-slide"><img src="img/office/Кабинет 2.3_02-768.webp" alt="Кабинет 2.3_02" loading="lazy" width="500" height="271"></div>
                                    </div>
                                    <div class="swiper-button-prev"></div>
                                    <div class="swiper-button-next"></div>
                                    <div class="swiper-pagination"></div>
                                </div>
                                <button data-tour="/360-tour/index_ru.html" class="btn-tour">3D-тур</button>
                            </div>
                            <a href="/apartment.html" class="office-content">
                                <h3 class="title">Кабинет 2.3</h3>
                                <ul class="features apartment-features">
                                    <li class="square">10 м2</li>
                                    <li class="capacity">5 человек</li>
                                    <li class="chair">3</li>
                                    <li class="projector">Есть</li>
                                </ul>
                                <h3 class="price">от 500 ₴/час</h3>
                                <button class="btn btn-prim">Подробнее</button>
                            </a>
                        </div>
                    </li>
                    <li class="item" data-fade="bottom-0.3">
                        <div class="inner">
                            <div class="office-images apartment-images">
                                <div class="swiper apartment-swiper">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide"><img src="img/office/Кабинет 2.4_01-768.webp" alt="Кабинет 2.4_01" loading="lazy" width="500" height="271"></div>
                                        <div class="swiper-slide"><img src="img/office/Кабинет 2.4_02-768.webp" alt="Кабинет 2.4_02" loading="lazy" width="500" height="271"></div>
                                    </div>
                                    <div class="swiper-button-prev"></div>
                                    <div class="swiper-button-next"></div>
                                    <div class="swiper-pagination"></div>
                                </div>
                                <button data-tour="/360-tour/index_ru.html" class="btn-tour">3D-тур</button>
                            </div>
                            <a href="/apartment.html" class="office-content">
                                <h3 class="title">Кабинет 2.4</h3>
                                <ul class="features apartment-features">
                                    <li class="square">10 м2</li>
                                    <li class="capacity">5 человек</li>
                                    <li class="chair">3</li>
                                    <li class="projector">Есть</li>
                                </ul>
                                <h3 class="price">от 500 ₴/час</h3>
                                <button class="btn btn-prim">Подробнее</button>
                            </a>
                        </div>
                    </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</section>